* {
    box-sizing: border-box;
  }
  
  html,
  body {
      font-family: 'DM Sans', sans-serif;
      scroll-behavior: smooth;
  }
  
  .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
  }
      .block-stats {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    }
    .block-stats-inner{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    }
    .block-stats-inner-head {
    max-width: 480px;
    max-height: 365px;
    order: 1;
    align-items: flex-end;
    margin-left: 45px;
    color: #0F2137;
    }
    .block-stats-inner-head a {
        color: #4F96FF;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 35px;
    }
    .block-stats-inner-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;    
    }
    .block-stats-inner-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 42px;
    }
    .block-stats-inner-sections {
    gap:45px;
    max-width: 645px;
    max-height: 685px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    }  
    .block-stats-inner-section-content {
    flex-direction: column;    
    height: 320px;
    width: 300px;
    border-radius:0px;
    background-color: #fff;
    box-shadow: 0px 8px 24px 0px rgba(53, 95, 158, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .block-stats-inner-section-content h2{
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 700;
    }
    .block-stats-inner-section-content p {
    max-width: 160px;
    color: #0F2137
    padding-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.2px;
    text-align: center;
    }